service: question-bank-serverless

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  memorySize: 256
  timeout: 30
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ssm:GetParameter
          Resource:
            - arn:aws:ssm:${self:provider.region}:${aws:accountId}:parameter/my-first-parameter-store

plugins:
  - serverless-offline

custom:
  handlerPrefix:
    local: src
    dev: dist
    staging: dist
    production: dist
  serverless-offline:
    httpPort: 8000
    lambdaPort: 8002
    host: 0.0.0.0

package:
  individually: true
  patterns:
    # Include necessary files
    - "dist/**"  # Include compiled files
    - "node_modules/**"
    - ".env.${opt:stage, 'dev'}"
    # Exclude unnecessary files
    - "!src/**"
    - "!test/**"
    - "!node_modules/@types/**"
    - "!node_modules/.prisma/**"
    - "!node_modules/@prisma/engines/**"
    - "!node_modules/prisma/**"
    - "!.git/**"
    - "!.vscode/**"

functions:
  examPapers:
    environment:
      NODE_ENV: ${opt:stage, 'local'}
      MY_PARAMETER: ${ssm:/my-first-parameter-store, 'local-fallback-value'}
    handler: ${self:custom.handlerPrefix.${opt:stage, 'local'}}/modules/exam-papers/lambda.handler
    events:
      - http:
          path: /ex-p/{proxy+}
          method: ANY
          cors: true
  questions:
    handler: ${self:custom.handlerPrefix.${opt:stage, 'local'}}/modules/questions/lambda.handler
    events:
      - http:
          path: /qs/{proxy+}
          method: ANY
          cors: true
          authorizer:
            arn: ${cf:shared-clerk-authorizer-production.ClerkAuthorizerArn}
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 0
    environment:
      NODE_ENV: ${opt:stage, 'local'}
      MY_PARAMETER: ${ssm:/my-first-parameter-store, 'local-fallback-value'}
  basicSetup:
    handler: ${self:custom.handlerPrefix.${opt:stage, 'local'}}/modules/basic-setup/lambda.handler
    events:
      - http:
          path: /basic-setup/{proxy+}
          method: ANY
          cors: true
    environment:
      NODE_ENV: ${opt:stage, 'local'}
      MY_PARAMETER: ${ssm:/my-first-parameter-store, 'local-fallback-value'}